@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}
.card-color {
  color: #ffffff;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .resize-image {
    transform: scale(2, 2);
  }
}
